<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30">
              <div class="col-md-12 margin-top-30">
                <h1>Stuff</h1>
                <p>Stuff to fill in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->