<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	%include views/head.html
</head>
<body>
	<div id="body_bg">
		%include views/pre-header.html
		<div class="primary-container-group">
			<!-- Background -->
			<div class="primary-container-background">
				<div class="primary-container"></div>
				<div class="clearfix"></div>
			</div>
			<!--End Background -->
			<div class="primary-container">
				%include views/header.html
				<!-- === END HEADER === -->
				<!-- === BEGIN CONTENT === -->
				<div id="content">
					<div class="container">
						<div class="row margin-vert-30">
							<!-- Main Column -->
							<div class="col-md-9">
								<iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15929.366401973313!2d101.626366!3d3.508201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc6df9ef9ecf83%3A0xe1ea11f438ed51a!2sPersiaran+Zurah+1%2C+Kawasan+Perindustrian+Rasa%2C+44200+Rasa%2C+Selangor%2C+Malaysia!5e0!3m2!1sen!2smy!4v1458022037763" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
								<!-- Main Content -->
								<div class="headline">
									<h2>Contact Form</h2>
								</div>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum
									dolor sit amet, consectetur adipiscing elit landitiis.</p>
								<br>
								<!-- Contact Form -->
								<form>
									<label>Name</label>
									<div class="row margin-bottom-20">
										<div class="col-md-6 col-md-offset-0">
											<input class="form-control" type="text">
										</div>
									</div>
									<label>Email
										<span class="color-red">*</span>
									</label>
									<div class="row margin-bottom-20">
										<div class="col-md-6 col-md-offset-0">
											<input class="form-control" type="text">
										</div>
									</div>
									<label>Message</label>
									<div class="row margin-bottom-20">
										<div class="col-md-8 col-md-offset-0">
											<textarea rows="8" class="form-control"></textarea>
										</div>
									</div>
									<p>
										<button type="submit" class="btn btn-blue rounded">Send Message</button>
									</p>
								</form>
								<!-- End Contact Form -->
								<!-- End Main Content -->
							</div>
							<!-- End Main Column -->
							<!-- Side Column -->
							<div class="col-md-3">
								<!-- Contact Info -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Contact Info</h3>
									</div>
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, no cetero voluptatum est, audire sensibus maiestatis vis et. Vitae audire prodesset an his. Nulla ubique omnesque in sit.</p>
										<ul class="list-unstyled">
											<li>
												<i class="fa-phone color-primary"></i>+353-44-55-66</li>
											<li>
												<i class="fa-envelope color-primary"></i>info@example.com</li>
											<li>
												<i class="fa-home color-primary"></i>http://www.example.com</li>
										</ul>
										<ul class="list-unstyled">
											<li>
												<strong class="color-primary">Monday-Friday: </strong>9am to 6pm</li>
											<li>
												<strong class="color-primary">Saturday: </strong>10am to 3pm</li>
											<li>
												<strong class="color-primary">Sunday: </strong>Closed</li>
										</ul>
									</div>
								</div>
								<!-- End Contact Info -->
							</div>
							<!-- End Side Column -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- === END CONTENT === -->
		<!-- === BEGIN FOOTER === -->
		%include views/footer.html
	</div>
</body>
</html>
<!-- === END FOOTER === -->