<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30">
              <div class="col-md-12">
                <h2>Our Customers</h2>
                <!-- Filter Buttons -->
                <div class="portfolio-filter-container margin-top-20">
                  <ul class="portfolio-filter">
                    <li class="portfolio-filter-label label label-default">
                      filter by:
                    </li>
                    <li>
                      <a href="#" class="portfolio-selected btn btn-default rounded" data-filter="*">All</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-default rounded" data-filter=".petroleum">Petroleum</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-default rounded" data-filter=".automotive">Automotive</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-default rounded" data-filter=".construction">Construction</a>
                    </li>
                    <li>
                      <a href="#" class="btn btn-default rounded" data-filter=".public">Public</a>
                    </li>
                  </ul>
                </div>
                <!-- End Filter Buttons -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 portfolio-group no-padding">
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Velit esse molestie</h3>
                      <figure>
                        <img src="img/portfolio/image1.jpg" alt="image1">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 public">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Quam nunc putamus</h3>
                      <figure>
                        <img src="img/portfolio/image2.jpg" alt="image2">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Placerat facer possim</h3>
                      <figure>
                        <img src="img/portfolio/image3.jpg" alt="image3">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Nam liber tempor</h3>
                      <figure>
                        <img src="img/portfolio/image4.jpg" alt="image4">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 public">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Donec non urna</h3>
                      <figure>
                        <img src="img/portfolio/image5.jpg" alt="image5">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 construction">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Nullam consectetur</h3>
                      <figure>
                        <img src="img/portfolio/image6.jpg" alt="image6">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 construction">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Velit esse molestie</h3>
                      <figure>
                        <img src="img/portfolio/image7.jpg" alt="image7">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 petroleum">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Quam nunc putamus</h3>
                      <figure>
                        <img src="img/portfolio/image8.jpg" alt="image8">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Portfolio Item -->
                <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
                  <div class="rounded">
                    <a href="#">
                      <h3 class="margin-top-20">Placerat facer possim</h3>
                      <figure>
                        <img src="img/portfolio/image9.jpg" alt="image9">
                        <figcaption>
                          <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
                <!-- End Portfolio Item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->