<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-top-20">
              <h2>Our Customers</h2>
              <div class="h-spacing">
                <a href="http://www.petronas.com.my/Pages/default.aspx"><img src="img/petronas.png"></a>
                <a href="http://www.slb.com/"><img src="img/schlumberger.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->