<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
%include views/head.html
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30 flex-md">
              <!-- Side Column -->
              <div class="col-md-3">
                <!-- Recent Posts -->
                <div class="panel panel-default" data-uk-sticky="{top:35, media:990, boundary:true}">
                  <div class="panel-heading">
                    <h3 class="panel-title">Our Services</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="posts-list">
                      <li>
                        <a href="/investment_casting" class="posts-list-title">Investment Casting</a>
                      </li>
                      <li>
                        <a href="/sand_casting" class="posts-list-title">Sand Casting</a>
                      </li>
                      <li>
                        <a href="/facility" class="posts-list-title">Facility</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End recent Posts -->
              </div>
              <!-- End Side Column -->
              <!-- Main Column -->
              <div class="col-md-9">
                <!-- Main Content -->
                <h2>Facility</h2>
                <p class="margin-top-15" style="text-align:justify;">These are other facilities that can be found in our foundry.</p>
                <!-- End Main Content -->
              </div>
              <!-- End Main Column -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->