    <div id="base">
      <div class="container padding-vert-30 margin-top-40">
        <div class="row">
          <!-- Contact Details -->
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-md-3">
                <h3 class="margin-bottom-10">Petroclamp</h3>
                <p>No. 21B, Jalan Astaka M,
                <br>U8/M Seksyen U8
                <br>40150 Shah Alam,
                <br>Selangor , Malaysia
                </p>
              </div>
              <div class="col-md-3">
                <h3 class="margin-bottom-10">Contact Details</h3>
                <p>
                  <span class="fa-phone">Telephone:03-7840 0258</span>
                  <span class="fa-envelope">Email:
                    <a href="mailto:info@petroclamp.com">info@petroclamp.com</a>
                  </span>
                </p>
              </div>
              <div class="col-md-6">
                <h3 class="margin-bottom-10">Navigation</h3>
                <div class="column-1-2">
                  <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="services">Our Services</a></li>
                    <li><a href="products">Our Products</a></li>
                    <li><a href="qa">Quality Assurance</a></li>
                    <li><a href="customers">Our Customers</a></li>
                    <li><a href="contact">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Contact Details -->
        </div>
      </div>
    </div>
    <!-- Footer Menu -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div id="copyright" class="col-md-4">
            <p>&copy; Petroclamp 2016</p>
          </div>
          <div id="footermenu" class="col-md-8">
            <p class="pull-right">Website created by <a href="http://e2u.website">E2U</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Menu -->
    <!-- JS -->
    <script type="text/javascript" src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="js/jquery.isotope.js" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="js/jquery.slicknav.js" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="js/jquery.visible.js" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" src="js/slimbox2.js" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="js/modernizr.custom.js" type="text/javascript"></script>
    <!-- UIkit -->
    <script src="js/uikit.min.js" type="text/javascript"></script>
    <!-- UIkit sticky -->
    <script src="js/sticky.min.js" type="text/javascript"></script>
    <!-- End JS -->