        <div id="header" class="body-container">
          <div class="container">
            <div class="row">
              <!-- Logo -->
              <div class="logo">
                <a href="/" title="PetroClamp">
                  <img src="img/logo_pc.png" alt="Logo" />
                </a>
              </div>
              <!-- End Logo -->
              <ul class="social-icons circle color border no-padding pull-right hidden-xs">
                <li class="social-rss">
                  <a href="#" target="_blank" title="RSS"></a>
                </li>
                <li class="social-twitter">
                  <a href="#" target="_blank" title="Twitter"></a>
                </li>
                <li class="social-facebook">
                  <a href="#" target="_blank" title="Facebook"></a>
                </li>
                <li class="social-googleplus">
                  <a href="#" target="_blank" title="GooglePlus"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Top Menu -->
        <div id="hornav" class="body-container no-padding visible-lg">
          <div class="container">
            <div class="row">
              <div class="col-md-12 no-padding">
                <div class="pull-right">
                  <ul id="hornavmenu" class="nav navbar-nav">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li>
                      <a href="/about">About Us</a>
                      <ul>
                        <li>
                          <a href="/about">Overview</a>
                        </li>
                        <li>
                          <a href="/about/background">Company Background</a>
                        </li>
                        <li>
                          <a href="/about/structure">Company Structure</a>
                        </li>
                        <li>
                          <a href="/about/policy">Business Policy</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/services">Our Services</a>
                      <ul>
                        <li>
                          <a href="/investment_casting">Investment Casting</a>
                        </li>
                        <li>
                          <a href="/sand_casting">Sand Casting</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="products">Products</a>
                    </li>
                    <li>
                      <a href="qa">Quality Assurance</a>
                    </li>
                    <li>
                      <a href="customers">Our Customers</a>
                    </li>
                    <li>
                      <a href="contact">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Top Menu -->