  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/uikit.almost-flat.css" />
  <link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/components/slider.almost-flat.min.css" />
  <link rel="stylesheet" href="css/components/slidenav.almost-flat.min.css" />