        <div id="header" class="body-container">
          <div class="container">
            <div class="row">
              <!-- Logo -->
              <div class="logo">
                <a href="/" title="PetroClamp">
                  <img src="img/logo_pc.png" alt="Logo" />
                </a>
              </div>
              <!-- End Logo -->
              <ul class="margin-top-20 list-inline pull-right hidden-xs top-nav">
                <li>
                  <a href="/" class="fa fa-home fa-2x" title="Home"></a>
                </li>
                <li>
                  <a href="http://webmail.petroclamp.com/" class="fa fa-envelope fa-2x" title="Webmail"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Top Menu -->
        <div id="hornav" class="body-container no-padding visible-lg">
          <div class="container">
            <div class="row">
              <div class="col-md-12 no-padding">
                <div class="pull-right">
                  <ul id="hornavmenu" class="nav navbar-nav">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li>
                      <a href="/about">About Us</a>
                      <ul>
                        <li>
                          <a href="/about">Overview</a>
                        </li>
                        <li>
                          <a href="/about/background">Company Background</a>
                        </li>
                        <li>
                          <a href="/about/structure">Company Structure</a>
                        </li>
                        <li>
                          <a href="/about/policy">Business Policy</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span>Our Services</span>
                      <ul>
                        <li>
                          <a href="/investment_casting">Investment Casting</a>
                        </li>
                        <li>
                          <a href="/sand_casting">Sand Casting</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/manufacturing">Manufacturing</a>
                    </li>
                    <li>
                      <span>Quality Assurance</span>
                      <ul>
                        <li>
                          <a href="/quality/process">Quality Control</a>
                        </li>
                        <li>
                          <a href="/quality/testing">Product Testing</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/certificate">Certificates</a>
                    </li>
                    <li>
                      <a href="/customers">Our Customers</a>
                    </li>
                    <li>
                      <a href="/contact">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Top Menu -->