<!DOCTYPE html>
<html>
<head>
  <title>foundry</title>
  %include views/head.html
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
	%include views/navbar.html
	<div class="uk-container uk-container-center uk-margin">
		<section class="uk-grid uk-grid-small">
			<div class="uk-width-2-10">
				<div class="uk-panel">Logo</div>
			</div>
			<div class="uk-width-6-10">
				<div class="uk-panel">Contact</div>
			</div>
			<div class="uk-width-2-10">
				<div class="uk-panel">
					<form class="uk-form">
						<input type="text" class="uk-width-1-1" placeholder="Search">
					</form>
				</div>
			</div>
		</section>
		<hr>
		<section>
			<div class="uk-slidenav-position" data-uk-slider>
			    <div class="uk-slider-container">
		        <ul class="uk-slider uk-text-center uk-grid-width-medium-1-1">
	            <li>
	            	<img src="img/create.png">
	            </li>
	            <li>
	            	<img src="img/slide-1.jpg">
	            </li>
	            <li>
	            	<img src="img/slide-2.jpg">
	            </li>
	            <li>
	            	<img src="img/slide-3.jpg">
	            </li>
		        </ul>
			    </div>
		    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
		    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
			</div>
		</section>
		<hr>
		<section class="uk-grid uk-grid-small" data-uk-margin>
			<div class="uk-width-1-1">
				<h1 class="uk-margin-remove">Custom Foundry</h1>
				<h2 class="uk-margin-remove uk-text-muted">Custom metal casting service</h2>
			</div>
			<div class="uk-width-1-2">
				<img src="img/product.jpg">
			</div>
			<div class="uk-width-1-2">
				<img src="img/pump_casting.jpg">
			</div>
			<div class="uk-width-1-2">
				<img src="img/casting.jpg">
			</div>
			<div class="uk-width-1-2">
				<img src="img/placeholder_medium.svg">
			</div>
		</section>
		<hr>
		<p>PCLP Foundry offers a one stop solution for  precision investment casting, also known as lost wax casting, for a variety of materials, including carbon steel, stainless steel, aluminium, brass, bronze and specialty alloys depending on client’s requirements. Our capability to produce high quality and durability for the toughest industrial application is well recognised by oil &amp; gas giant such as PETRONAS. Other sector that we serve are mining, food &amp; dairy, medical, power generation, hardware &amp; locks, military &amp; firearms, agriculture and general application. Whether your objective is to optimize strength, improve dimensional control and surface finish or increase yield, we will strive to deliver a complete solution.</p>
	</div>
	%include views/footer.html
	%include views/script.html
</body>
</html>