<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container-fluid">
            <div class="row">
              <!-- Carousel Slideshow -->
              <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <!-- Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example" data-slide-to="1"></li>
                  <li data-target="#carousel-example" data-slide-to="2"></li>
                </ol>
                <div class="clearfix"></div>
                <!-- End Carousel Indicators -->
                <!-- Carousel Images -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img class="img-fill" src="img/slideshow/slider1.jpg">
                  </div>
                  <div class="item">
                    <img class="img-fill" src="img/slideshow/slider2.jpg">
                  </div>
                  <div class="item">
                    <img class="img-fill" src="img/slideshow/slider3.jpg">
                  </div>
                </div>
                <!-- End Carousel Images -->
                <!-- Carousel Controls -->
                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- End Carousel Controls -->
              </div>
              <!-- End Carousel Slideshow -->
            </div>
          </div>
          <div class="container-fluid landing-content">
            <div class="row">
              <h2 class="animate fadeIn text-center margin-top-50">Steel manufacturing foundry</h2>
              <hr class="margin-top-15">
              <p class="animate fadeIn text-center">We offer custom steel manufacturing services like tooling making,<br>investment casting, sand casting and more!</p>
              <p class="text-center animate fadeInUp margin-bottom-50">
                <a href="/contact" role="button" class="btn btn-primary btn-lg rounded">Contact Us</a>
              </p>
            </div>
          </div>
          <div class="container">
            <div class="row margin-vert-30">
              <!-- Main Text -->
              <div class="col-md-9">
                <h2>PCLP Foundry</h2>
                <p class="text-justify">PCLP Foundry offers a one stop solution for  precision investment casting, also known as lost wax casting, for a variety of materials, including carbon steel, stainless steel, aluminium, brass, bronze and specialty alloys depending on client’s requirements. Our capability to produce high quality and durability for the toughest industrial application is well recognised by oil &amp; gas giant such as PETRONAS. Other sector that we serve are mining, food &amp; dairy, medical, power generation, hardware &amp; locks, military &amp; firearms, agriculture and general application. Whether your objective is to optimize strength, improve dimensional control and surface finish or increase yield, we will strive to deliver a complete solution.</p>
              </div>
              <!-- End Main Text -->
              <!-- Side Column -->
              <div class="col-md-3">
                <img src="img/image1.png">
              </div>
              <!-- End Side Column -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->