<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- End Top Menu -->
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30">
              <div class="col-md-12">
                <h2>Manufacturing Capabilities</h2>
                <div class="row text-center margin-bottom-40">
                  <h3>Burning Furnace (1 Unit)</h3>
                  <div class="col-md-6 animate fadeIn">
                    <img src="img/manufacturing/burn_furnace_1.png" alt="Burning Furnace" class="margin-top-10">
                  </div>
                  <div class="col-md-6 animate fadeIn">
                    <img src="img/manufacturing/burn_furnace_2.png" alt="Burning Furnace" class="margin-top-10">
                  </div>
                </div>
                <div class="row text-center margin-bottom-40">
                  <h3>De-Waxing Machine (1 Unit)</h3>
                  <div class="col-md-6 animate fadeIn">
                    <img src="img/manufacturing/dewax_1.png" alt="De-Waxing" class="margin-top-10">
                  </div>
                  <div class="col-md-6 animate fadeIn">
                    <img src="img/manufacturing/dewax_2.png" alt="De-Waxing" class="margin-top-10">
                  </div>
                </div>
                <div class="row text-center margin-bottom-40">
                  <div class="col-md-6 animate fadeIn">
                    <h3>De-Water Bucket (2 Units)</h3>
                    <img src="img/manufacturing/dewater.png" alt="De-Water" class="margin-top-10">
                  </div>
                  <div class="col-md-6 animate fadeIn">
                    <h3>Shot Blast Machine (1 Unit)</h3>
                    <img src="img/manufacturing/shot_blast.png" alt="Shot Blast" class="margin-top-10">
                  </div>
                </div>
                <div class="row text-center margin-bottom-40">
                  <div class="col-md-6 animate fadeIn">
                    <h3>Heat Treatment Machine (2 Units)</h3>
                    <img src="img/manufacturing/heat_treat.png" alt="Heat Treatment" class="margin-top-10">
                  </div>
                  <div class="col-md-6 animate fadeIn">
                    <h3>Induction Furnace (2 Units)</h3>
                    <img src="img/manufacturing/indux_furnace.png" alt="Induction Furnace" class="margin-top-10">
                    <p>100kg and 500kg - service from SIRIM</p>
                  </div>
                </div>
                <div class="row text-center margin-bottom-40">
                  <div class="col-md-6 animate fadeIn">
                    <h3>Pain Mixing Machine (2 Units)</h3>
                    <img src="img/manufacturing/pain_mixing.png" alt="Pain Mixing" class="margin-top-10">
                  </div>
                  <div class="col-md-6 animate fadeIn">
                    <h3>Sand Floating Machine (2 Units)</h3>
                    <img src="img/manufacturing/sand_float.png" alt="Sand Floating" class="margin-top-10">
                  </div>
                </div>
                <div class="row text-center margin-bottom-40">
                  <div class="col-md-6 animate fadeIn">
                    <h3>Sand Spreading Machine (1 Unit)</h3>
                    <img src="img/manufacturing/sand_spread.png" alt="Sand Floating" class="margin-top-10">
                  </div>
                  <div class="col-md-6 animate fadeIn">
                    <h3>Dust Catcher (1 Unit)</h3>
                    <img src="img/manufacturing/dust_catcher.png" alt="Dust Catcher" class="margin-top-10">
                  </div>
                </div>
                <div class="row text-center margin-bottom-40">
                  <h3>Double Station Wax Sprue Injection Machine (1 Unit)</h3>
                  <div class="col-md-12 animate fadeIn">
                    <img src="img/manufacturing/wax_inject.png" alt="Wax Injection" class="margin-top-10">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>    
</body>
</html>
<!-- === END FOOTER === -->