<nav class="uk-navbar uk-navbar-attached">
	<div class="uk-container uk-container-center">
	  <ul class="uk-navbar-nav">
      <li class="uk-parent" data-uk-dropdown>
        <a href="">About Us</a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="/">Overview</a></li>
            <li><a href="">Company Background</a></li>
            <li><a href="">Company Structure</a></li>
            <li><a href="">Business Policy</a></li>
          </ul>
        </div>
      </li>
      <li class="uk-parent" data-uk-dropdown>
        <a href="">Our Service</a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="/tooling_making">Tooling Making</a></li>
            <li><a href="/investment_casting">Investment Casting</a></li>
            <li><a href="/sand_casting">Sand Casting</a></li>
          </ul>
        </div>
      </li>
	    <li><a href="">Products</a></li>
      <li><a href="/quality_assurance">Quality Assurance</a></li>
	    <li><a href="">Our Customers</a></li>
	    <li><a href="/contact_us">Contact Us</a></li>
	  </ul>
	</div>
</nav>