<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30">
              <!-- Main Column -->
              <div class="col-md-12">
                <h2>Quality Assurance</h2>
                <p>
                  <ul>
                    <li>QC 1 – Check wax pattern dimension and surface</li>
                    <li>QC 2 – Check coating condition slurry viscosity</li>
                    <li>QC 3 – Burning furnace temperature and time</li>
                    <li>QC 4 – Chemical composition</li>
                    <li>QC 5 – Product dimension, defects</li>
                    <li>QC 6 – Function test (gap, dimension, thread) 2 % Sample for hardness test Melting furnace</li>
                  </ul>
                </p>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <a rel="lightbox" href="img/cert_p1.jpg">
                      <img src="img/cert_p1.jpg">
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <a rel="lightbox" href="img/cert_p2.jpg">
                      <img src="img/cert_p2.jpg">
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <a rel="lightbox" href="img/cert_p3.jpg">
                      <img src="img/cert_p3.jpg">
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <a rel="lightbox" href="img/cert_p4.jpg">
                      <img src="img/cert_p4.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Main Column -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->