<!DOCTYPE html>
<html>
<head>
  <title>foundry</title>
  %include views/head.html
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
	%include views/navbar.html
	<section class="uk-container uk-container-center">
		<!-- insert in the document body -->

<object data='certificates.pdf#' 
        type='application/pdf' 
        width='100%' 
        height='100%'
        class="uk-height-viewport">

<p>It appears your Web browser is not configured to display PDF files. 
No worries, just <a href='certificates.pdf'>click here to download the PDF file.</a></p>

</object>
	</section>
	%include views/footer.html
	%include views/script.html
</body>
</html>