<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
%include views/head.html
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30 flex-md">
              <!-- Side Column -->
              <div class="col-md-3">
                <!-- Recent Posts -->
                <div class="panel panel-default" data-uk-sticky="{top:35, media:990, boundary:true}">
                  <div class="panel-heading">
                    <h3 class="panel-title">Our Services</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="posts-list margin-top-10">
                      <li>
                        <div class="recent-post">
                          <a href="">
                            <img class="pull-left" src="img/blog/thumbs/thumb1.jpg" alt="thumb1">
                          </a>
                          <a href="/services#tooling-making" class="posts-list-title" data-uk-smooth-scroll="{offset: 15}">Tooling Making</a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="recent-post">
                          <a href="">
                            <img class="pull-left" src="img/blog/thumbs/thumb2.jpg" alt="thumb2">
                          </a>
                          <a href="/services#investment-casting" class="posts-list-title" data-uk-smooth-scroll="{offset: 15}">Investment Casting</a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                      <li>
                        <div class="recent-post">
                          <a href="">
                            <img class="pull-left" src="img/blog/thumbs/thumb3.jpg" alt="thumb3">
                          </a>
                          <a href="/services#sand-casting" class="posts-list-title" data-uk-smooth-scroll="{offset: 15}">Sand Casting</a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End recent Posts -->
              </div>
              <!-- End Side Column -->
              <!-- Main Column -->
              <div class="col-md-9">
                <!-- Main Content -->
                <h2 id="tooling-making">Tooling Making</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu. At vero eos
                  et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                  qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                <h2 id="investment-casting">Investment Casting</h2>
                <p>Investment casting (known as lost-wax casting in art) is a process that has been practised for thousands of years, with the lost-wax process being one of the oldest known metal forming techniques. From 5000 years ago, when bees wax formed the pattern, to today’s high technology waxes, which Petroclamp expertly utilises, refractory materials and specialist alloys, the castings, ensure high-quality components are produced with the key benefits of accuracy, repeatability, versatility and integrity.The process is suitable for repeatable production of net shape components, from a variety of different metals and high performance alloys. Compared to other casting processes such as die casting or sand casting, it can be an expensive process, however the components that can be produced using investment casting can incorporate intricate contours, and in most cases the components are cast near net shape, so requiring little or no rework once cast.</p>
                <h2 id="sand-casting">Sand Casting</h2>
                <p>Sand casting is used to make large parts (typically Iron, but also Bronze, Brass, Aluminium). Molten metal is poured into a mould cavity formed out of sand (natural or synthetic). The processes of sand casting are highlighted in this section. Sand castings generally have a rough surface sometimes with surface impurities, and surface variations. Petroclamp has the process capabilities to produce precision parts that require little or no machining work. This can be cast with either ferrous or non-ferrous materials including all grades of stainless steel, high and low carbon steel, copper, bronze and aluminium.</p>
                <!-- End Main Content -->
              </div>
              <!-- End Main Column -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->