<!-- Portfolio -->
          <div class="container background-gray-lighter">
            <div class="row row-no-margin">
              <!-- Portfolio -->
              <ul class="portfolio-group">
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image1" src="img/frontpage/image1.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image2" src="img/frontpage/image2.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image3" src="img/frontpage/image3.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image4" src="img/frontpage/image4.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
              </ul>
              <!-- End Portfolio -->
            </div>
          </div>
<!-- Devices img -->
                <img class="visible-lg animate fadeInUp" style="bottom: -50px; position: relative; left: 85px; margin-top: -20px;" src="img/frontpage/responsive_homepage.png" alt="">
                <!-- Hours -->
                <ul class="list-unstyled">
                  <li>
                    <strong class="color-primary">Monday-Friday: </strong>9am to 6pm</li>
                  <li>
                    <strong class="color-primary">Saturday: </strong>10am to 3pm</li>
                  <li>
                    <strong class="color-primary">Sunday: </strong>Closed</li>
                </ul>
                
              <!-- Side Column -->
              <div class="col-md-3">
                <h3 class="title">Opening hours</h3>
                <h6 style="margin: 0;">Mon - Fri</h6>
                <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                <p>
                  <small>* Lorem ipsum dolor sit amet</small>
                </p>
                <hr>
                <h6 style="margin: 0;">Sat - Sun</h6>
                <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                <p>
                  <small>* Lorem ipsum dolor sit amet</small>
                </p>
                <hr>
              </div>
              <!-- End Side Column -->