<!-- Portfolio -->
          <div class="container background-gray-lighter">
            <div class="row row-no-margin">
              <!-- Portfolio -->
              <ul class="portfolio-group">
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image1" src="img/frontpage/image1.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image2" src="img/frontpage/image2.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image3" src="img/frontpage/image3.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image4" src="img/frontpage/image4.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
              </ul>
              <!-- End Portfolio -->
            </div>
          </div>
<!-- Devices img -->
                <img class="visible-lg animate fadeInUp" style="bottom: -50px; position: relative; left: 85px; margin-top: -20px;" src="img/frontpage/responsive_homepage.png" alt="">
                <!-- Hours -->
                <ul class="list-unstyled">
                  <li>
                    <strong class="color-primary">Monday-Friday: </strong>9am to 6pm</li>
                  <li>
                    <strong class="color-primary">Saturday: </strong>10am to 3pm</li>
                  <li>
                    <strong class="color-primary">Sunday: </strong>Closed</li>
                </ul>
                
              <!-- Side Column -->
              <div class="col-md-3">
                <h3 class="title">Opening hours</h3>
                <h6 style="margin: 0;">Mon - Fri</h6>
                <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                <p>
                  <small>* Lorem ipsum dolor sit amet</small>
                </p>
                <hr>
                <h6 style="margin: 0;">Sat - Sun</h6>
                <h4 style="margin: 0;">7:00 am - 1:30 pm</h4>
                <p>
                  <small>* Lorem ipsum dolor sit amet</small>
                </p>
                <hr>
              </div>
              <!-- End Side Column -->
<!-- Filter Customer -->

<div class="row margin-vert-30">
  <div class="col-md-12">
    <h2>Our Customers</h2>
    <!-- Filter Buttons -->
    <div class="portfolio-filter-container margin-top-20">
      <ul class="portfolio-filter">
        <li class="portfolio-filter-label label label-default">
          filter by:
        </li>
        <li>
          <a href="#" class="portfolio-selected btn btn-default rounded" data-filter="*">All</a>
        </li>
        <li>
          <a href="#" class="btn btn-default rounded" data-filter=".petroleum">Petroleum</a>
        </li>
        <li>
          <a href="#" class="btn btn-default rounded" data-filter=".automotive">Automotive</a>
        </li>
        <li>
          <a href="#" class="btn btn-default rounded" data-filter=".construction">Construction</a>
        </li>
        <li>
          <a href="#" class="btn btn-default rounded" data-filter=".public">Public</a>
        </li>
      </ul>
    </div>
    <!-- End Filter Buttons -->
  </div>
</div>

<!-- Customer Portfolio -->

<div class="col-md-12 portfolio-group no-padding">
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Velit esse molestie</h3>
        <figure>
          <img src="img/portfolio/image1.jpg" alt="image1">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 public">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Quam nunc putamus</h3>
        <figure>
          <img src="img/portfolio/image2.jpg" alt="image2">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Placerat facer possim</h3>
        <figure>
          <img src="img/portfolio/image3.jpg" alt="image3">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Nam liber tempor</h3>
        <figure>
          <img src="img/portfolio/image4.jpg" alt="image4">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 public">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Donec non urna</h3>
        <figure>
          <img src="img/portfolio/image5.jpg" alt="image5">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 construction">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Nullam consectetur</h3>
        <figure>
          <img src="img/portfolio/image6.jpg" alt="image6">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 construction">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Velit esse molestie</h3>
        <figure>
          <img src="img/portfolio/image7.jpg" alt="image7">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 petroleum">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Quam nunc putamus</h3>
        <figure>
          <img src="img/portfolio/image8.jpg" alt="image8">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 automotive">
    <div class="rounded">
      <a href="#">
        <h3 class="margin-top-20">Placerat facer possim</h3>
        <figure>
          <img src="img/portfolio/image9.jpg" alt="image9">
          <figcaption>
            <span style="color:#212121; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <!-- End Portfolio Item -->
</div>