<!-- Portfolio -->
          <div class="container background-gray-lighter">
            <div class="row row-no-margin">
              <!-- Portfolio -->
              <ul class="portfolio-group">
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image1" src="img/frontpage/image1.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image2" src="img/frontpage/image2.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image3" src="img/frontpage/image3.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
                <!-- Portfolio Item -->
                <li class="portfolio-item col-sm-3 col-xs-6 no-padding">
                  <a href="#">
                    <h3>Placerat facer possim</h3>
                    <figure class="animate fadeInLeft animated">
                      <img alt="image4" src="img/frontpage/image4.png">
                      <figcaption>
                        <span style="color:#212121; ">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
                <!-- //Portfolio Item// -->
              </ul>
              <!-- End Portfolio -->
            </div>
          </div>
<!-- Devices img -->
                <img class="visible-lg animate fadeInUp" style="bottom: -50px; position: relative; left: 85px; margin-top: -20px;" src="img/frontpage/responsive_homepage.png" alt="">