<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  %include views/head.html
</head>
<body>
  <div id="body_bg">
    %include views/pre-header.html
    <div class="primary-container-group">
      <!-- Background -->
      <div class="primary-container-background">
        <div class="primary-container"></div>
        <div class="clearfix"></div>
      </div>
      <!--End Background -->
      <div class="primary-container">
        %include views/header.html
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
          <div class="container">
            <div class="row margin-vert-30">
              <!-- Main Column -->
              <div class="col-md-12">
                <div class="row">
                  <h2>Product Testing</h2>
                  <ol class="olist">
                    <li>
                      <h4>Lateral Load Test</h4>
                      <img src="img/quality/lateral.png">
                    </li>
                    <li>
                      <h4>Rotational Load Test</h4>
                      <img src="img/quality/rotational.png">
                    </li>
                    <li>
                      <h4>Pull Out Test</h4>
                      <img src="img/quality/pull.png">
                    </li>
                    <li>
                      <h4>Drift Test</h4>
                      <img src="img/quality/drift.png">
                    </li>
                    <li>
                      <h4>Axial Test</h4>
                      <img src="img/quality/axial.png">
                    </li>
                  </ol>
                </div>
              </div>
              <!-- End Main Column -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    %include views/footer.html
  </div>
</body>
</html>
<!-- === END FOOTER === -->